.house-card {
  max-width: 200px;
  margin: auto;
}

.house-header-image {
  background-image: url("https://material.angular.io/assets/img/houses/shiba1.jpg");
  background-size: cover;
}
agm-map {
  height: 200px;
}
