<mat-card class="house-card">
  <mat-card-header>
    <mat-card-title>Distance :{{distance}}</mat-card-title>
    <mat-card-subtitle>Rooms: {{ house.params?.rooms }}</mat-card-subtitle>
    <mat-card-subtitle
      >Value: {{ house.params?.value | number: "2." }}</mat-card-subtitle
    >
  </mat-card-header>
  <agm-map
    [latitude]="location.latitude"
    [longitude]="location.longitude"
    [zoom]="location.zoom"
    [mapTypeId]="location.mapType"
  >
    <agm-marker
      [latitude]="location.marker.lat"
      [longitude]="location.marker.lon"
    ></agm-marker>
  </agm-map>
  <mat-card-content>
    <hr />
    <p>
      {{ house.street }}
    </p>
  </mat-card-content>
</mat-card>
